body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}
  
/* Navbar */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 3px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(29, 28, 28);
    display: block;
    transition: 0.3s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    padding-left: 20px;
}
.sidenav h3{
  padding: 3px;
    text-decoration: none;
    font-size: 22px;
    color: rgb(29, 28, 28);
    display: block;
    transition: 0.3s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    padding-left: 20px;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}  
.sidenav a:hover {
    color: #1a1717;
  
}
.search-area{
    background-color: aquamarine;
    margin-left: 40%;
    width: 450px;
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
} 
#cursur{
  font-size:40px;
  cursor:pointer;
  padding-right: 10px;
}
#searchbar{
    width: 400px;
    margin-left: 5px;
    padding-right: 20px;
    margin-top: 15px;
    border-radius: 15px;
} 
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
/* navbar// */
/* content */
#advertise{
    width: 100%;
    height: 170px;
}
/* content// */
/* news section */
.projects-horizontal {
    color: #313437;
    background-color: #fff;
  }
  
  .projects-horizontal p {
    color: #7d8285;
  }
  
  .projects-horizontal h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
  }
  
  @media (max-width:767px) {
    .projects-horizontal h2 {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 24px;
    }
  }
  
  .projects-horizontal .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 10px;
  }
  
  .projects-horizontal .projects {
    padding-bottom: 40px;
  }
  
  .projects-horizontal .item {
    padding-top: 60px;
    min-height: 160px;
  }
  
  @media (max-width:767px) {
    .projects-horizontal .item {
      padding-top: 40px;
      min-height: 160px;
    }
  }
  
  .projects-horizontal .item .name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
    color: inherit;
  }
  
  @media (max-width:991px) {
    .projects-horizontal .item .name {
      margin-top: 22px;
    }
  }
  
  .projects-horizontal .item .description {
    font-size: 15px;
    margin-bottom: 0;
  }
  
  
.time-wether{
  max-height: 200px;
  display: flex;
  overflow-x: auto;
  width: 400px;
}
.time-wether .box{
  min-width: 60px;
  height: 130px;
  line-height: 70px;
  text-align: center;
  margin-right: 2px;
  margin-left: 2px;
  color: white;
  font-weight: 200;
  

}
 /* .time-wether::-webkit-scrollbar{
  
  width: 5px;
  height: 10px;
  background-color: white;
}  */
.time-wether::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.time-wether::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.time-wether::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

/* Handle on hover */
.time-wether::-webkit-scrollbar-thumb:hover {
  background: rgb(11, 53, 44);
}
#headername{
  display: none;
  padding: 5px;
  border-radius: 5px;
  outline-style: none;
  

}
#savebtn{
  display: none;
  border: none;
  color: white;
  width: 20px;
}
.wether{
  padding: 20px;
  background: rgb(18,142,117);
  background: linear-gradient(0deg, rgba(18,142,117,1) 0%, rgba(13,136,170,1) 100%);
  border-radius: 15px;
}
#header{
  background: rgb(25, 156, 130);
  padding: 10px;
  color: white;
  font-weight: 700;
  
}
#sbtn{
  background: transparent;
  position: absolute;
  margin-top: -70px;
  padding-left: 90px;
  color: white;
  
}
.daily-wether {
  padding-top: 30px;
}
.daily-wether h6  {
  /* padding-left: 20px; */
  color: #fff;
  /* padding-top: 30px; */
}

#outer {
  float: left;
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

#left-button {
  float: left;
  width: 30px;
  text-align: center;
}

#right-button {
  float: left;
  width: 30px;
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: red;
}

#inner:first-child {
  margin-left: 0;
}

label {
  margin-left: 10px;
}

.hide {
  display: none;
}
.left-arrow{
  position: absolute;
  margin-top: -105px;
  margin-left: -17px;
  color: white;
}
.right-arrow{
  position: absolute;
  margin-top: -105px;
  padding-left: 370px;
  color: white;
}